In [97]:
import pandas as pd
import numpy as np

Os dados disponíveis são resultados da NHNES (National Health and Nutrition Examination Survey), realizada anualmente nos EUA para avaliar a saúde e nutrição de adultos e crianças

In [98]:
df_adultos = pd.read_csv('data/DEMO_PHQ.csv')

In [99]:
df_adultos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5334 entries, 0 to 5333
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      5334 non-null   int64
 1   DPQ010    4836 non-null   float64
 2   DPQ020    4836 non-null   float64
 3   DPQ030    4836 non-null   float64
 4   DPQ040    4836 non-null   float64
 5   DPQ050    4836 non-null   float64
 6   DPQ060    4836 non-null   float64
 7   DPQ070    4836 non-null   float64
 8   DPQ080    4836 non-null   float64
 9   DPQ090    4836 non-null   float64
 10  RIAGENDR  5334 non-null   int64
 11  RIDAGEYR  5334 non-null   int64
 12  RIDRETH1  5334 non-null   int64
 13  DMDEDUC   5334 non-null   int64
 14  INDFMINC  5287 non-null   float64
dtypes: float64(10), int64(5)
memory usage: 625.2 KB

In [100]:
print(f'Quantidade de linhas: {df_adultos.shape[0]}')
print(f'Quantidade de colunas: {df_adultos.shape[1]}')

Quantidade de linhas: 5334
Quantidade de colunas: 15

In [101]:
df_adultos.describe()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,RIAGENDR,RIDAGEYR,RIDRETH1,DMDEDUC,INDFMINC
count,5334.000000,4836.000000,4836.000000,4836.000000,4836.000000,4836.000000,4836.000000,4836.000000,4836.000000,4836.000000,5334.000000,5334.000000,5334.000000,5334.000000,5287.000000
mean,36358.796775,0.307279,0.313069,0.551282,0.717328,0.320720,0.209884,0.230356,0.147849,0.050248,1.519873,45.089989,2.871016,3.233221,8.738604
std,2964.731827,0.758459,0.710683,0.931166,0.913711,0.743057,0.624552,0.639186,0.590390,0.326933,0.499652,20.145853,1.128468,1.268395,12.777756
min,31130.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,18.000000,1.000000,1.000000,1.000000
25%,33838.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,27.000000,3.000000,2.000000,4.000000
50%,36347.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,43.000000,3.000000,3.000000,7.000000
75%,38915.750000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,62.000000,4.000000,4.000000,10.000000
max,41473.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,2.000000,85.000000,5.000000,9.000000,99.000000

In [102]:
df_adultos.head()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,RIAGENDR,RIDAGEYR,RIDRETH1,DMDEDUC,INDFMINC
0,31130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,85,3,4,4.0
1,31131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,44,4,4,11.0
2,31132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,70,3,5,11.0
3,31134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,73,3,3,12.0
4,31139,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,2,18,2,3,11.0

In [103]:
df_adultos.columns.format()

['SEQN',
 'DPQ010',
 'DPQ020',
 'DPQ030',
 'DPQ040',
 'DPQ050',
 'DPQ060',
 'DPQ070',
 'DPQ080',
 'DPQ090',
 'RIAGENDR',
 'RIDAGEYR',
 'RIDRETH1',
 'DMDEDUC',
 'INDFMINC']

In [104]:
df_crianca_adulto = pd.read_csv('data/PAG_HEI.csv')

In [105]:
print(f'Quantidade de linhas: {df_crianca_adulto.shape[0]}')
print(f'Quantidade de colunas: {df_crianca_adulto.shape[1]}')

Quantidade de linhas: 9424
Quantidade de colunas: 17

In [106]:
df_crianca_adulto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424 entries, 0 to 9423
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SEQN                      9424 non-null   int64
 1   PAG_MINW                  7150 non-null   float64
 2   ADHERENCE                 7150 non-null   float64
 3   HEI2015C1_TOTALVEG        8549 non-null   float64
 4   HEI2015C2_GREEN_AND_BEAN  8549 non-null   float64
 5   HEI2015C3_TOTALFRUIT      8549 non-null   float64
 6   HEI2015C4_WHOLEFRUIT      8549 non-null   float64
 7   HEI2015C5_WHOLEGRAIN      8549 non-null   float64
 8   HEI2015C6_TOTALDAIRY      8549 non-null   float64
 9   HEI2015C7_TOTPROT         8549 non-null   float64
 10  HEI2015C8_SEAPLANT_PROT   8549 non-null   float64
 11  HEI2015C9_FATTYACID       8549 non-null   float64
 12  HEI2015C10_SODIUM         8549 non-null   float64
 13  HEI2015C11_REFINEDGRAIN   8549 non-null   float64
 14  HEI2015C12_SFAT           8549 non-null   float64
 15  HEI2015C13_ADDSUG         8549 non-null   float64
 16  HEI2015_TOTAL_SCORE       8549 non-null   float64
dtypes: float64(16), int64(1)
memory usage: 1.2 MB

In [107]:
df_crianca_adulto.describe()

,SEQN,PAG_MINW,ADHERENCE,HEI2015C1_TOTALVEG,HEI2015C2_GREEN_AND_BEAN,HEI2015C3_TOTALFRUIT,HEI2015C4_WHOLEFRUIT,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
count,9424.000000,7150.000000,7150.000000,8549.000000,8549.000000,8549.000000,8549.000000,8549.000000,8549.000000,8549.000000,8549.000000,8549.000000,8549.000000,8549.000000,8549.000000,8549.000000,8549.000000
mean,36311.463285,565.120067,2.074685,2.862097,1.547884,2.659902,2.405864,1.674949,4.054757,4.211867,2.325303,4.205320,4.988956,5.540906,5.781459,5.959600,48.218865
std,2991.517794,908.839544,0.917351,1.472391,2.046650,1.930251,2.152560,1.823515,1.478922,1.157194,2.132526,3.147736,3.293786,3.452289,3.090926,3.215960,11.884725
min,31128.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.243513
25%,33720.750000,55.427252,1.000000,1.692308,0.000000,0.725494,0.000000,0.000000,3.336989,3.587339,0.000000,1.544438,2.258630,2.652670,3.514716,3.599885,39.643349
50%,36307.500000,256.351039,2.000000,2.753825,0.000000,2.618554,2.179715,1.018207,5.000000,5.000000,1.836220,3.789177,5.144181,5.880968,5.979335,6.327416,47.589498
75%,38902.250000,696.016166,3.000000,4.165605,3.498013,5.000000,5.000000,2.997076,5.000000,5.000000,5.000000,6.464805,7.705660,8.756728,8.390884,8.859520,56.028859
max,41474.000000,13801.385681,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,10.000000,10.000000,10.000000,10.000000,10.000000,89.529383

### Dicionário - DEMO_PHQ

<b>SEQN</b> - Identificador único do respondente

<b>DPQ010</b> - Nas últimas 2 semanas, com que frequência você ficou incomodado por algum dos problemas a seguir:

Pouco interesse ou pouco prazer em fazer as coisas <br>
**** Serve para todos os DPQ0 **** <br>
0 = Nenhuma vez <br>
1 = Menos de uma semana <br>
2 = Uma semana ou mais <br>
3 = Quase todos os dias <br>
7 = Se recusou a responder <br>
9 = Não sabe <br>

<b>DPQ020</b> - Nas últimas 2 semanas, com que frequência você ficou incomodado por algum dos problemas a seguir:

Se sentiu para baixo, deprimido(a) ou sem perspectiva

<b>DPQ030</b> - Nas últimas 2 semanas, com que frequência você ficou incomodado por algum dos 
problemas a seguir:

Dificuldade para pegar no sono ou permanecer dormindo ou dormiu mais do que o costume

<b>DPQ040</b> - Nas últimas 2 semanas, com que frequência você ficou incomodado por algum dos 
problemas a seguir:

Se sentiu cansado(a) ou com pouca energia

<b>DPQ050</b> - Nas últimas 2 semanas, com que frequência você ficou incomodado por algum dos 
problemas a seguir:

Falta de apetite ou comeu demais

<b>DPQ060</b> - Nas últimas 2 semanas, com que frequência você ficou incomodado por algum dos 
problemas a seguir:

Se sentiu mal consigo mesmo(a) ou achou que é um fracasso ou que decepcionou sua família ou a você mesmo(a)

<b>DPQ070</b> - Nas últimas 2 semanas, com que frequência você ficou incomodado por algum dos 
problemas a seguir:

Dificuldade para se concentrar nas coisas (como ler o jornal ou ver televisão)

<b>DPQ080</b> - Nas últimas 2 semanas, com que frequência você ficou incomodado por algum dos 
problemas a seguir:

Teve lentidão para se movimentar ou falar (a ponto de outras pessoas perceberem), ou ao contrário, esteve tão agitado(a) que você ficava andando de um lado para o outro mais do que costume

<b>DPQ090</b> - Nas últimas 2 semanas, com que frequência você ficou incomodado por algum dos 
problemas a seguir:

Pensou em se ferir de alguma maneira ou que seria melhor estar morto(a)

<b>RIAGENDR</b> - Gênero
1 = Masculino <br>
2 = Feminino

<b>RIDAGEYR</b> Idade em anos

<b>RIDRETH1</b> Raça/Etnia

1 = Branco não-hispânico <br>
2 = Negro não-hispânico <br>
3 = Mexicano-americano <br>
4 = Outro <br>
5 = Outro-Hispânico <br>

<b>DMDEDUC</b> Escolaridade

1 = Menor que 9o ano <br>
2 = 9-12o ano <br>
3 = Ensino médio <br>
4 = Ensino superior incompleto <br>
5 = Superior completo ou maior <br>
7 = Se recusou a responder <br>
9 = Não sabe

<b>INDFMINC</b> Renda anual familiar (US$)

1 = 0-4999 <br> 
2 = 5000-9999 <br>
3 = 10000-14999 <br>
4 = 15000-19999 <br>
5 = 20000-24999 <br>
6 = 25000-34999 <br>
7 = 35000-44999 <br>
8 = 45000-54999 <br>
9 = 55000-64999 <br>
10 = 65000-74999 <br>
11 = Maior ou igual a 75000 <br>
12 = Maior que 20000 <br>
13 = Menor que 20000 <br>
77 = Se recusou a responder <br>
99 = Não sabe

### Dicionário - PAG_HEI

<b>SEQN</b> - Identificador único do respondente

<b>PAG_MINW</b> - Tempo total semanal de atividade aeróbica moderada-vigorosa em minutos segundo o Physical Activity 
Guideline (PAG)

<b>ADHERENCE</b> - Grupo de aderência ao Physical Activity Guideline (PAG)

1 = Baixo (< 150 min/semana) <br>
2 = Adequado (150-300 min/semana) <br>
3 = Acima (> 300 min/semana) <br>

<b>HEI2015C1_TOTALVEG</b> Healthy Eating Index - Componente 1 - Total de Vegetais 0-5

<b>HEI2015C2_GREEN_AND_BEAN</b> Healthy Eating Index - Componente 2 - Verduras verde-escuras e leguminosas 0-5

<b>HEI2015C3_TOTALFRUIT</b> Healthy Eating Index - Componente 3 - Frutas totais 0-5

<b>HEI2015C4_WHOLEFRUIT</b> Healthy Eating Index - Componente 4 - Frutas in natura 0-5

<b>HEI2015C5_WHOLEGRAIN</b> Healthy Eating Index - Componente 5 - Grãos integrais 0-10

<b>HEI2015C6_TOTALDAIRY</b> Healthy Eating Index - Componente 6 - Laticínios 0-10

<b>HEI2015C7_TOTPROT</b> Healthy Eating Index - Componente 7 - Proteínas 0-5

<b>HEI2015C8_SEAPLANT_PROT</b> Healthy Eating Index - Componente 8 - Plantas marinhas e proteínas vegetais 0-5

<b>HEI2015C9_FATTYACID</b> Healthy Eating Index - Componente 9 - Ácido-graxo 0-10

<b>HEI2015C10_SODIUM</b> Healthy Eating Index - Componente 10 - Sódio 0-10

<b>HEI2015C11_REFINEDGRAIN</b> Healthy Eating Index - Componente 11 - Grãos refinados 0-10

<b>HEI2015C12_SFAT</b> Healthy Eating Index - Componente 12 - Gordura saturada 0-10

<b>HEI2015C13_ADDSUG</b> Healthy Eating Index - Componente 13 - Açúcares adicionados 0-10

<b>HEI2015_TOTAL_SCORE</b> Healthy Eating Index - Escore total 0-100

In [108]:
#### Juntando os dataset's em um com apenas os adultos
df = pd.merge(df_adultos, df_crianca_adulto, how = 'left', on = 'SEQN')

In [109]:
df.shape

(5334, 31)

In [110]:
df

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,...,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
0,31130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899
2,31132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.000000,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696
3,31134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.217331,2.313900,5.000000,1.268648,2.958985,0.000000,5.627488,5.863078,5.878686,42.886826
4,31139,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,...,0.211544,0.000000,4.088849,4.221442,10.000000,2.845774,0.000000,10.000000,9.658507,47.074393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329,41466,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4.607930,2.555736,5.000000,4.672204,4.633477,0.000000,6.580006,8.393244,9.360990,59.949915
5330,41468,0.0,2.0,0.0,1.0,1.0,2.0,1.0,3.0,0.0,...,3.041603,5.000000,3.759596,2.344264,4.780282,3.134216,1.986137,5.850269,10.000000,57.747869
5331,41469,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,2.151846,5.000000,0.000000,9.344947,3.535211,4.326307,5.269780,8.195564,42.993323
5332,41472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.933303,5.000000,5.000000,5.000000,2.090534,8.409844,8.936854,3.063795,0.000000,46.134467
5333,41473,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.000000,5.000000,5.000000,5.000000,0.000000,7.458058,10.000000,1.676912,2.751168,45.793478

In [111]:
df.describe()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,...,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
count,5334.000000,4836.000000,4836.000000,4836.000000,4836.000000,4836.000000,4836.000000,4836.000000,4836.000000,4836.000000,...,5060.000000,5060.000000,5060.000000,5060.000000,5060.000000,5060.000000,5060.000000,5060.000000,5060.000000,5060.000000
mean,36358.796775,0.307279,0.313069,0.551282,0.717328,0.320720,0.209884,0.230356,0.147849,0.050248,...,1.764918,3.756967,4.434237,2.593381,4.706986,4.762261,5.798963,6.067985,6.220367,49.971421
std,2964.731827,0.758459,0.710683,0.931166,0.913711,0.743057,0.624552,0.639186,0.590390,0.326933,...,1.915425,1.605226,1.008311,2.171836,3.237059,3.420252,3.496261,3.178186,3.330305,12.324533
min,31130.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.059212
25%,33838.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,2.591999,4.171156,0.000000,2.023710,1.587909,2.925413,3.697080,3.724867,41.032289
50%,36347.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.026125,4.940948,5.000000,2.588240,4.430397,4.833553,6.234319,6.414811,6.864138,49.512445
75%,38915.750000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.406820,5.000000,5.000000,5.000000,7.270784,7.650807,9.253265,8.997076,9.454234,58.168013
max,41473.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,5.000000,5.000000,5.000000,5.000000,10.000000,10.000000,10.000000,10.000000,10.000000,89.529383

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5334 entries, 0 to 5333
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SEQN                      5334 non-null   int64
 1   DPQ010                    4836 non-null   float64
 2   DPQ020                    4836 non-null   float64
 3   DPQ030                    4836 non-null   float64
 4   DPQ040                    4836 non-null   float64
 5   DPQ050                    4836 non-null   float64
 6   DPQ060                    4836 non-null   float64
 7   DPQ070                    4836 non-null   float64
 8   DPQ080                    4836 non-null   float64
 9   DPQ090                    4836 non-null   float64
 10  RIAGENDR                  5334 non-null   int64
 11  RIDAGEYR                  5334 non-null   int64
 12  RIDRETH1                  5334 non-null   int64
 13  DMDEDUC                   5334 non-null   int64
 14  INDFMINC                  5287 non-null   float64
 15  PAG_MINW                  5334 non-null   float64
 16  ADHERENCE                 5334 non-null   float64
 17  HEI2015C1_TOTALVEG        5060 non-null   float64
 18  HEI2015C2_GREEN_AND_BEAN  5060 non-null   float64
 19  HEI2015C3_TOTALFRUIT      5060 non-null   float64
 20  HEI2015C4_WHOLEFRUIT      5060 non-null   float64
 21  HEI2015C5_WHOLEGRAIN      5060 non-null   float64
 22  HEI2015C6_TOTALDAIRY      5060 non-null   float64
 23  HEI2015C7_TOTPROT         5060 non-null   float64
 24  HEI2015C8_SEAPLANT_PROT   5060 non-null   float64
 25  HEI2015C9_FATTYACID       5060 non-null   float64
 26  HEI2015C10_SODIUM         5060 non-null   float64
 27  HEI2015C11_REFINEDGRAIN   5060 non-null   float64
 28  HEI2015C12_SFAT           5060 non-null   float64
 29  HEI2015C13_ADDSUG         5060 non-null   float64
 30  HEI2015_TOTAL_SCORE       5060 non-null   float64
dtypes: float64(26), int64(5)
memory usage: 1.3 MB

In [113]:
df = df.drop('SEQN', 1)

/tmp/ipykernel_8016/2139918723.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('SEQN', 1)

In [114]:
df

,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,RIAGENDR,...,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,...,0.000000,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,5.000000,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,2.217331,2.313900,5.000000,1.268648,2.958985,0.000000,5.627488,5.863078,5.878686,42.886826
4,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,2,...,0.211544,0.000000,4.088849,4.221442,10.000000,2.845774,0.000000,10.000000,9.658507,47.074393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2,...,4.607930,2.555736,5.000000,4.672204,4.633477,0.000000,6.580006,8.393244,9.360990,59.949915
5330,0.0,2.0,0.0,1.0,1.0,2.0,1.0,3.0,0.0,2,...,3.041603,5.000000,3.759596,2.344264,4.780282,3.134216,1.986137,5.850269,10.000000,57.747869
5331,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,...,0.000000,2.151846,5.000000,0.000000,9.344947,3.535211,4.326307,5.269780,8.195564,42.993323
5332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,0.933303,5.000000,5.000000,5.000000,2.090534,8.409844,8.936854,3.063795,0.000000,46.134467
5333,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,1,...,0.000000,5.000000,5.000000,5.000000,0.000000,7.458058,10.000000,1.676912,2.751168,45.793478

Dentro das questões de humor decidi juntar as opções 7 e 9 e substituir por NaN como forma de facilitar a análise. Nas variáveis de raça/ etnia juntei as opções de outro com outro/ hispânico por entender se tratar de uma mesma categoria. Na variável de renda anual familiar decidi trocar as opções 12 (> que 20000), 13 (< que 20000), 77 - (Se recusou a responder) e 99 - (Não sabe) por NaN por entender que levaria a dubiedade.

In [115]:
replace_map = { 
'DPQ010': {7: np.nan, 9: np.nan},
 'DPQ020': {7: np.nan, 9: np.nan},
 'DPQ030': {7: np.nan, 9: np.nan},
 'DPQ040': {7: np.nan, 9: np.nan},
 'DPQ050': {7: np.nan, 9: np.nan},
 'DPQ060': {7: np.nan, 9: np.nan},
 'DPQ070': {7: np.nan, 9: np.nan},
 'DPQ080': {7: np.nan, 9: np.nan},
 'DPQ090': {7: np.nan, 9: np.nan},
 'DMDEDUC': {7: np.nan, 9: np.nan},
 'RIDRETH1': {5:4}, #colocando a categoria 5 na categoria 4
 'INDFMINC': {12: np.nan, # np.mean([20000, 75000])
             13: np.nan, # np.mean([0, 20000])
             77: np.nan,
             99: np.nan}
}

In [116]:
df

,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,RIAGENDR,...,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,...,0.000000,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,5.000000,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,2.217331,2.313900,5.000000,1.268648,2.958985,0.000000,5.627488,5.863078,5.878686,42.886826
4,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,2,...,0.211544,0.000000,4.088849,4.221442,10.000000,2.845774,0.000000,10.000000,9.658507,47.074393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2,...,4.607930,2.555736,5.000000,4.672204,4.633477,0.000000,6.580006,8.393244,9.360990,59.949915
5330,0.0,2.0,0.0,1.0,1.0,2.0,1.0,3.0,0.0,2,...,3.041603,5.000000,3.759596,2.344264,4.780282,3.134216,1.986137,5.850269,10.000000,57.747869
5331,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,...,0.000000,2.151846,5.000000,0.000000,9.344947,3.535211,4.326307,5.269780,8.195564,42.993323
5332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,0.933303,5.000000,5.000000,5.000000,2.090534,8.409844,8.936854,3.063795,0.000000,46.134467
5333,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,1,...,0.000000,5.000000,5.000000,5.000000,0.000000,7.458058,10.000000,1.676912,2.751168,45.793478

In [117]:
#### Renomeando as colunas
df = df.rename(columns={'DPQ010': 'Q1',
                        'DPQ020': 'Q2',
                        'DPQ030': 'Q3',
                        'DPQ040': 'Q4',
                        'DPQ050': 'Q5',
                        'DPQ060': 'Q6',
                        'DPQ070': 'Q7',
                        'DPQ080': 'Q8',
                        'DPQ090': 'Q9',
                        'RIAGENDR': 'genero',
                        'RIDAGEYR': 'idade',
                        'RIDRETH1': 'raca',
                        'DMDEDUC': 'escolaridade',
                        'INDFMINC': 'renda_anual_familiar',
                        'PAG_MINW': 'tempo_atividade_semanal_pag',
                        'ADHERENCE': 'aderencia_pag',
                        'HEI2015C1_TOTALVEG': 'total_vegetais',
                        'HEI2015C2_GREEN_AND_BEAN': 'total_verdura-v-escura-leguminosas',
                        'HEI2015C3_TOTALFRUIT': 'total_frutas',
                        'HEI2015C4_WHOLEFRUIT': 'total_frutas_in-natura',
                        'HEI2015C5_WHOLEGRAIN': 'total_graos-integrais',
                        'HEI2015C6_TOTALDAIRY': 'total_laticinios',
                        'HEI2015C7_TOTPROT': 'total_proteinas',
                        'HEI2015C8_SEAPLANT_PROT': 'total_planta-marinha-proteina-vegetal',
                        'HEI2015C9_FATTYACID': 'total_acido-graxo',
                        'HEI2015C10_SODIUM': 'total_sodio',
                        'HEI2015C11_REFINEDGRAIN': 'total_graos-refinados',
                        'HEI2015C12_SFAT': 'total_gordura-saturada',
                        'HEI2015C13_ADDSUG': 'total_acucar-adicionado',
                        'HEI2015_TOTAL_SCORE': 'score_saude'})

#### Renomeando registros (Linhas)

In [118]:
df.genero = df.genero.replace({1: 'homem', 2: 'mulher'})

In [119]:
df.raca = df.raca.replace({1: 'Branco nao-hispanico', 
                           2: 'Negro nao-hispanico ',
                           3: 'Mexicano-americano',
                           4: 'Outro',
                           5: 'Outro-Hispanico '})

In [120]:
df.escolaridade = df.escolaridade.replace({1: 'Menor que 9o ano', 
                                           2: '9-12o ano', 
                                           3: 'Ensino medio', 
                                           4:'Ensino superior incompleto', 
                                           5:'Superior completo ou maior', 
                                           7: 'Se recusou a responder',
                                           9: 'Nao sabe'})

In [121]:
df.aderencia_pag = df.aderencia_pag.replace({1.0: 'Baixo (< 150 min/semana)', 
                                             2.0: 'Adequado (150-300 min/semana)', 
                                             3.0: 'Acima (> 300 min/semana)'})

In [122]:
df.head(20)

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,genero,...,total_graos-integrais,total_laticinios,total_proteinas,total_planta-marinha-proteina-vegetal,total_acido-graxo,total_sodio,total_graos-refinados,total_gordura-saturada,total_acucar-adicionado,score_saude
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mulher,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mulher,...,0.000000,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,homem,...,5.000000,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,homem,...,2.217331,2.313900,5.000000,1.268648,2.958985,0.000000,5.627488,5.863078,5.878686,42.886826
4,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,mulher,...,0.211544,0.000000,4.088849,4.221442,10.000000,2.845774,0.000000,10.000000,9.658507,47.074393
5,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,homem,...,1.444002,5.000000,3.372033,0.000000,0.002362,5.223435,7.787420,0.000000,10.000000,46.086131
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,homem,...,0.000000,5.000000,1.153747,0.000000,6.209888,6.747360,0.000000,7.473184,6.573559,37.388008
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mulher,...,0.000000,4.361618,5.000000,0.000000,4.780404,0.000000,5.138144,5.601160,4.677064,41.001689
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,homem,...,5.000000,5.000000,4.093324,0.000000,7.660037,9.368343,9.253592,10.000000,8.797673,71.671972
9,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,mulher,...,2.287457,5.000000,5.000000,5.000000,2.805860,9.298090,10.000000,6.738039,0.000000,47.002405
10,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,mulher,...,0.972908,5.000000,5.000000,4.546475,3.042452,1.362072,6.405209,1.726454,9.879221,44.295927
11,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,mulher,...,0.521249,5.000000,5.000000,5.000000,10.000000,10.000000,10.000000,9.507001,8.036070,81.516748
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,homem,...,0.243220,1.543513,5.000000,5.000000,6.605029,0.000000,8.662970,5.633984,4.825864,51.026072
13,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,homem,...,0.000000,5.000000,5.000000,5.000000,5.199571,0.944569,0.000000,8.782718,10.000000,53.316119
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mulher,...,1.641459,4.166779,5.000000,0.461660,10.000000,3.372807,7.885895,10.000000,3.237822,59.415736
15,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,homem,...,0.673309,4.325414,4.108093,5.000000,0.000000,6.987853,7.700887,0.000000,7.235760,45.584246
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,mulher,...,5.000000,5.000000,4.961395,5.000000,4.679884,4.826346,7.346949,6.245579,6.846888,67.587048
17,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,mulher,...,5.000000,5.000000,3.428225,0.037856,4.378558,1.894475,10.000000,1.340059,10.000000,55.319027
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,homem,...,0.000000,3.773489,5.000000,5.000000,5.510077,8.128015,9.457209,0.660590,3.165991,43.339478
19,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,homem,...,3.097132,5.000000,5.000000,4.225416,1.905983,3.121234,10.000000,3.500407,10.000000,62.883794

Retirando os valores nulos para uma melhor análise:

In [123]:
df = df.dropna()

Criando a variável Q_somatorio com o somatório das questões de humor.

In [124]:
Q = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9']
df["Q_somatorio"] = df[Q].sum(axis = "columns")

### Classificando de acordo com a literatura <br>
0 (“sem sintomas”) se Q_somatorio < 5 <br>
1 (“sintomas leves”) se 5 <= Q_somatorio < 10 <br>
2 (“sintomas moderados”) se 10 <= Q_somatorio < 15 <br>
3 (“sintomas moderadamente severos”) se 15 <= Q_somatorio < 20 <br>
4 (“sintomas severos”) se Q_somatorio >= 20. <br>

In [125]:
df.Q_somatorio = df.Q_somatorio.replace({1: 0, 2: 0, 3: 0, 4: 0,
                                         5: 1, 6: 1,7: 1,8: 1,9: 1,
                                         10: 2, 11: 2, 12: 2, 13: 2, 14: 2,
                                         15: 3, 16: 3, 17: 3, 18: 3, 19: 3,
                                         20: 4, 21: 4, 22: 4, 23: 4, 24: 4})

In [126]:
### criando o csv com os dados tratados
df.to_csv('data/dados_tratados.csv', index=False)